<h2>Foundry Virtual Tabletop - Version 0.6.1 Update Notes</h2>

<figure>
<img src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/release-061-banner-2020-05-31.jpg" title="Foundry VTT Version 0.6.0 Release Notes"/>
<figcaption>Welcome to Foundry Virtual Tabletop Update 0.6.1</figcaption>
</figure>

<h4>Overview of Changes</h4>
<p>This is Foundry Virtual Tabletop Release version 0.6.1, a update on the "Beta" channel which is available to all Foundry Virtual Tabletop license holders. The Beta channel contains updates which are close to ready for release, but may still have some minor remaining issues present. If no meaningful issues are encountered in the next several days these changes will be available on the Release channel (as version 0.6.2).</p>

<p class="note info">This update was originally intended to go directly to the Release channel, but due to a few compatibility issues which were detected (and since resolved) it will be held on the Beta channel.</p>

<p>This update focuses on bug fixes and user experience adjustments that improve the release 0.6.0 version. There are a handful of new features included as well which are deemed unlikely to introduce any issues or breaking changes.</p>

<p>Please see the recent <a href="https://www.twitch.tv/videos/636893142" rel="nofollow" target="_blank" title="Developer Q&amp;A">Developer Q&amp;A broadcast</a> on Twitch for an overview of these changes and a demonstration of them in action.</p>
<hr/>

<h4>About this Update</h4>
<p class="note warning"><strong>Please read the following important reminder about this update.</strong></p>

<p>This is a Beta channel update which should be stable for all users, but may contain some module conflicts or compatibility issues. It is only recommended for users to update to this version if they are comfortable with accepting some minor risks. Users are discouraged from updating to this version if it is immediately before a game session. Especially if you are on the alpha or beta channels, but even in the case of release channel, please take care to periodically back up your critical user data in case you experience any issues.</p>
<hr/>

<h4>How to Update</h4>
<p>To apply this update, return Foundry Virtual Tabletop to the <strong>Configuration and Setup</strong> page and access the <strong>Update Software</strong> tab and choose the "Release (Stable)" channel in the dropdown menu. It is recommended for most users to stay on the Release channel for all updates unless you have a specific desire to get Alpha or Beta changes in the future.</p>

<p>After clicking <strong>Check for Update</strong> confirm that you are presented with the 0.6.1 update notes and click the Download button to begin the update process. Allow some time for this process to conclude, when it is finished your server will automatically restart (if Electron) or shut down (if Node.js).</p>

<p class="note info">Since the EULA was updated in this version you will be prompted to accept the new license agreement after the update is installed.</p>
<hr/>

<h4>Reporting Issues and Providing Feedback</h4>
<p>If you encounter issues or have feedback to share, please use one of the following three reporting channels, ordered by preference:</p>
<ol>
	<li><strong>Discord Server:</strong> My preferred method to collect feedback is through our Discord server where I have created a dedicated channel for update 0.6.1 feedback. If you are able to join our Discord community it's the best way to engage with me directly for feedback.</li>
	<li><strong>GitLab Tracker:</strong> You are welcome to create issue reports directly in the GitLab tracker here, but please take caution to ensure your problem has not already been reported by checking other open (and closed) issues in the upcoming milestone before creating a new report.</li>
	<li><strong>Bug Report Form:</strong> There is an official bug report form on the official website. Please go to the following address and select "Bug Report" as your category. <a href="https://foundryvtt.com/contact-us/" rel="nofollow">https://foundryvtt.com/contact-us/</a></li>
</ol>

<p>Please stay up to date on progress by following the project roadmap on GitLab: <a href="https://gitlab.com/foundrynet/foundryvtt/boards" rel="nofollow" target="_blank" title="FVTT Issue Tracker">https://gitlab.com/foundrynet/foundryvtt/boards</a>.</p>
<hr/>

<h3>New Features</h3>
<ul>
	<li>Allow World packages to be installed using the Package browser and a manifest link in the same way that Modules and Systems can be.</li>
	<li>Add support for Token color tinting with compatibility for both video and image token textures. Color tints can be added to either placed or prototype tokens. To remove a color tint simply empty the field next to the color picker.</li>
	<li>Improve the clarity in Token Configuration of "grid units" vs. "distance units" which are used for different fields.</li>
	<li>Log authentication failures so that external services can lock accounts or ban IP addresses for too many failed attempts.</li>
	<li>In the special case of freehand drawings, the created Drawing should not be selected immediately after creation.</li>
	<li>Confirming a change to a text Drawing which leaves the text completely empty will now delete the Drawing.</li>
	<li>Add a number of new icons which can be used for map notes with Journal Entries.</li>
	<li>A minor update to the EULA terminology to remove some references to testing phases and to clarify the rights that are granted to software license owners.</li>
	<li>Provide an informative error message if the user cannot sign the EULA agreement because their computer is unable to reach the license server.</li>
	<li>Automatically replace a Scene thumbnail image with a base64 image string when that Scene is written into a Compendium pack.</li>
	<li>Scene panning controls can result in scenes being dragged to inaccessible positions. The destination position for canvas panning is now constrained to remain in-bounds.</li>
	<li>Add a "Go Back" button to the Fatal Error view in case users try to join before a game is set up they can get to the log in screen later.</li>
	<li>Executing a Ruler movement for a token larger than 1x1 does not correctly track which grid space of the token the measurement began from, resulting in the movement always finishing in the top-left square.</li>
	<li>Allow the "Show to Players" link to work for Journal Entries in Compendium packs.</li>
	<li>Explicitly handle ESC keypresses to close an active dialog window without choosing any available choice</li>
</ul>
<hr/>

<h3>Bug Fixes</h3>
<ul>
	<li>Entering a license key with invalid structure, for example leading or trailing spaces, allows the verification process to proceed when it should instead reject the key as malformed.</li>
	<li>Remove the "Beta" tag from the settings sidebar and login pages.</li>
	<li>Some Scene changes were not properly triggering a full Canvas re-draw, leaving the user unable to interact with or pan the canvas.</li>
	<li>Shortly after editing walls, hovering over a wall segment stops bringing it to the "top".</li>
	<li>Fix a wall creation bug where the initial endpoint when chain-creating could be an exact match for an existing endpoint, therefore having an undefined distance and being misidentified.</li>
	<li>Prevent the visible flicker when moving Drawings by hiding the original drawing until after the update operation completes.</li>
	<li>Module registered settings menu buttons appear outside of the relevant section for the module that registered them.</li>
	<li>Font Family changes to drawings did not take effect unless the text was also changed.</li>
	<li>Token HUD was sometimes becoming stuck and left displayed in place when a Token was moved away.</li>
	<li>GM-only controls in the Controls Reference were un-intuitively highlighted in white, the styling has now been changed to be less glaring.</li>
	<li>The toggle button on the Macros Directory is 2px too tall. It has been given a haircut.</li>
	<li>Actor Token image should once again automatically be applied when the Actor image is set if it's currently using the mystery man.</li>
	<li>The number of Results in a Roll Table does not immediately update the display of the entity in the sidebar tab.</li>
	<li>The ALT key should now only highlight borders for objects on Canvas Layers which are currently interactive.</li>
	<li>Dragging and dropping a Compendium entry on itself incorrectly created more copies within the Compendium pack.</li>
	<li>Do not attempt to restore input focus to a form element which cannot be focused.</li>
	<li>Combat Tracker tools for Token selection and hovering should not respond for Users who do not have observer rights to any Token that is not visible.</li>
	<li>If the Active scene is deleted when it's parent Folder is deleted, that Scene did not become deactivated.</li>
	<li>The interactive area of the canvas did not correctly change when using the grid configuration tool to upscale the canvas size, meaning that some areas of the canvas could not be panned.</li>
	<li>The size of the Grid Layer should adjust in real-time when rescaling a background image using the Grid Configuration tool.
</li>
	<li>The Playlist Create dialog should confirm it's creation on ENTER by defining a default choice.</li>
	<li>Map Note label with "Centered" orientation puts the text label behind the icon, now the label is above the icon.</li>
	<li>Multiple instances of the same webm token in a combat encounter do not all receive the same static token preview image, sometimes it breaks and no preview image is provided.</li>
</ul>
<hr/>

<h3>Framework and API Changes</h3>
<ul>
	<li>Reject unauthorized POST requests to /setup as forbidden rather than redirecting to Home.</li>
	<li>Add server-side validation function to validate a color string input.</li>
	<li>The <code>deleteEmbeddedEntity</code> function on a synthetic Actor does not have the same method signature as on a real Actor.</li>
	<li>Additional options passed to <code>Combat#rollAll</code> are not properly forwarded to each <code>rollInitiative</code> call.</li>
	<li>Provide an Entity helper method <code>toCompendium</code> and an EntityCollection method <code>fromCompendium</code> for sanitizing the entity data when importing/exporting to or from a compendium pack and the World to ensure that certain fields like folders, active states, flags, or permissions do not get persisted.</li>
	<li>Prevent the creation of extremely large Measured Templates with a server-side validation rule which rejects excessive values.</li>
</ul>
<hr/>

<h3>Documentation Improvements</h3>
<ul>
	<li>Updated API documentation for 0.6.1 release.</li>
</ul>
<hr/>

<h3>Known Issues</h3>
<ul>
	<li>None at this time.</li>
</ul>