<h2 id="types">Overview</h2>
<p>Drawing tools can be used to allow the GM and users to annotate the map with freehand or shaped drawings. The appearance of drawings can be pre-configured using defaults, or individual drawn shapes may have their appearance changed after they have been placed.</p>
<p>This article will teach you how to place and edit drawings in a scene.</p>
<h4 id="permissions">Drawing Tool Permissions</h4>
<p>By default, players do not have permission to use Drawing tools, while Trusted players and Assistant GMs have access to the drawing tools enabled by default. If you wish to allow or revoke permissions to the drawing tools, you can do so from the "Use Drawing Tools" section of the Permission Configuration in the@Article[settings]menu.</p>
<h2 class="border">Placing Drawings</h2>
<p>Placing drawings into a scene is extremely simple, and requires the following steps:</p>
<ol>
<li>Select the drawing tool. This is a pencil icon on the left of the Foundry VTT UI.</li>
<li>Select the type of drawing you want to create. These incude rectangles, ellipses, polygons, freehand and text.</li>
<li>Click and drag out the shape you want (for rectangle, ellipse, and text) or click to place points (for polygon), or click and hold to actively draw (with freehand).</li>
</ol>
<p>Once a drawing is created the drawing select tool allows you to select and move the drawing around the scene as you need. You can also right click on the drawing to quickly toggle the drawing's visibility, or to move it forward or backward for the purposes of determining if it sits on top of or below other drawings in the same area.</p>
<h3>Drawing Types</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-menu-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[128]</a></figure>
<dl>
<dt>Rectangle Drawing Tool</dt>
<dd>Used for drawing rectangular and square four-sided shapes.</dd>
<dt>Ellipse Drawing Tool</dt>
<dd>Used for drawing enclosed circular shapes.</dd>
<dt>Polygon Drawing Tool</dt>
<dd>Used for drawing polygonal geometric shapes from straight lines. Right-click removes the last point drawn, double-click to finish drawing.</dd>
<dt>Freehand Drawing Tool</dt>
<dd>Used for drawing freehand, as though with a stylus, can be used to create complex rounded shapes. Will continue to draw as long as the left mouse button is pressed.</dd>
<dt>Text Drawing Tool</dt>
<dd>Used for placing text directly onto the map in order to offer labels or place messages directly on the canvas.</dd>
</dl>
<h2 class="border">Configuring Drawings</h2>
<p>Individual drawings can be modified after their placement by double clicking the drawing with the selection tool. Once the configuration menu is loaded, you will have access to multiple tabs that let you determine the specific appearance of the drawing's various aspects. The available tabs will be explained below.</p>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-position-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[129]</a>
<figcaption>These are the Drawing Tools Position Settings.</figcaption>
</figure>
<h3>Positioning Tab</h3>
<dl>
<dt>X &amp; Y Position (Pixels)</dt>
<dd>Set the X (horizontal) and Y (vertical) placement of the drawing. This allows you to fine-tune the location of a drawing down to the pixel.</dd>
<dt>Width &amp; Height (Pixels)</dt>
<dd>Set the specific width and height of the drawing in pixels. This allows you to fine-tune the size and shape of the drawing down to the pixel.</dd>
<dt>Rotation (Degrees)</dt>
<dd>Set the degree of rotation to apply to the drawing.</dd>
<dt>Z-Sort</dt>
<dd>Set the "height" of the drawing in a stack of other drawings. The higher the z-sort number, the closer to the top of the stack of images the drawing will be, with the highest z-sort number being the one drawn on top of all other drawings.</dd>
</dl>
<h3>Lines Tab</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-lines-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[130]</a>
<figcaption>This is the Drawing Tool Lines tab on the Configuration screen.</figcaption>
</figure>
<dl>
<dt>Line Width</dt>
<dd>Set the thickness in pixels (px) of the lines drawn by the Square, Ellipse, Polygon or Freehand tools.</dd>
<dt>Stroke Color</dt>
<dd>Set the color in Hex (#000000) used to color shapes drawn with the drawing tools.</dd>
<dt>Line Opacity</dt>
<dd>Set the transparency of shapes drawn with the drawing tools.</dd>
<dt>Smoothing Factor</dt>
<dd>Foundry will attempt to smooth rough edges of shapes to reduce the number of vertices in freehand drawings. Use this setting to adjust how aggressive the smoothing filter is.</dd>
</dl>
<h3>Fill Tab</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-fill-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[131]</a>
<figcaption>This is the Drawing Tool Fill tab on the Configuration screen.</figcaption>
</figure>
<dl>
<dt>Fill Type</dt>
<dd>Shapes can be filled as necessary, "None" will not fill a shape, "Solid" will fill your shape with a chosen color, and Pattern will fill a shape with a chosen texture file.</dd>
<dt>Fill Color</dt>
<dd>Set the color in Hex (#000000) used to fill the inside of shapes drawn with the drawing tools.</dd>
<dt>Fill Opacity</dt>
<dd>Set the transparency of the color and texture used to fill the inside of shapes drawn with the drawing tools.</dd>
<dt>Fill Texture</dt>
<dd>Set the texture to use for filling the inside of a shape. This should ideally be a repeating, tiling png with transparency.</dd>
</dl>
<h3>Text Tab</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-text-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[132]</a>
<figcaption>This is the Drawing Tool Text tab on the Configuration screen.</figcaption>
</figure>
<dl>
<dt>Text Label</dt>
<dd>Applies a text which will expand to fit and fill the inside of the shape drawn, please note that if the content of the text label is longer (in height) than the shape itself, it will expand beyond the shape's boundaries.</dd>
<dt>Font Family</dt>
<dd>Choose from available fonts in Foundry to style your text.</dd>
<dt>Font Size</dt>
<dd>Choose the font size in pixels (px) for text labels and the text tool.</dd>
<dt>Text Color</dt>
<dd>Choose the color to be applied to text in labels and text tool drawings.</dd>
<dt>Text Opacity</dt>
<dd>Set the transparency of text both for text labels and text tool drawings.</dd>
</dl>
<h3>Establishing Default Drawing Settings</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/drawing-tools-default-settings-2021-01-19.jpg" target="_blank" rel="nofollow noopener">@Image[133]</a>
<figcaption>This is the Drawing Tool Default Settings Configuration screen. From here default appearance of all future drawings can be set.</figcaption>
</figure>
<p>The default appearance of drawings may be configured by using the "Configure Drawing" tool. This sets the defaults your drawings will adhere to when placed, and the defaults are specific to each user and their drawing tools.</p>
<p>The tabs of this menu are identical to the similarly named tabs of the individual drawing configuration menu, therefore you can reference the specific tab explanations above for what they do, and how they affect your drawings.</p>
<h2 class="border">API References</h2>
<p>To interact with Drawings programmatically, consider using the following API concepts:</p>
<ul>
<li>The<a title="The Drawing Object" href="https://foundryvtt.com/api/Drawing.html" target="_blank" rel="nofollow noopener">Drawing</a>Object</li>
<li>The<a title="The DrawingsLayer Canvas Layer" href="https://foundryvtt.com/api/DrawingsLayer.html" target="_blank" rel="nofollow noopener">DrawingsLayer</a>Canvas Layer</li>
<li>The<a title="The DrawingConfig Application" href="https://foundryvtt.com/api/DrawingConfig.html" target="_blank" rel="nofollow noopener">DrawingConfig</a>Application</li>
</ul>