<h2>Overview</h2>
<p>Foundry Virtual Tabletop is available cross-platform, so users of Windows, macOS, and various linux distributions can all host servers for their GMs and Players to use conveniently and easily. This article will instruct you on the installation of Foundry VTT for your operating system, some of the more common pitfalls users face when trying to install and set up the software for the first time, and introduce some more advanced topics like:</p>
<h2 class="border">The Foundry Virtual Tabletop Application</h2>
<p>The Foundry VTT application is the recommended installation path for most users: it bundles the the Foundry game server software with a built-in chromium web browser to serve as a client view, allowing you to interact with the server directly and conveniently. If you are planning to host a dedicated server instead, you will want to install the Node.js version described later in this article.</p>
<h4>Downloading</h4>
<p>To download Foundry Virtual Tabletop you must be a software license owner, if you have purchased a license the links to download the latest stable release of the software are available on your user profile by clicking on the<strong> Purchased Licenses</strong> button in the lower left-hand corner.</p>

<h3 id="windows">Installation - Windows</h3>
<p>If you are using the Windows version of Foundry VTT there is an installation process necessary once you have downloaded the installer. To install the software, run the setup executable file that you downloaded. </p>
<p class="info note">In rare cases you may see a warning message from Microsoft Defender SmartScreen.</p>
<p>To allow Foundry Virtual Tabletop to pass the Defender SmartScreen, click <strong>More Info</strong> and then click <strong>Run Anyway</strong> Alternatively, if you have stronger security settings applied, you may need to right click the file, click Properties, and mark the checkbox <strong>Unblock</strong> in the Security section.</p>
<p>During the installation process you will be asked for an installation location. Despite being the default path for installation, it is recommended to install Foundry VTT in a location not contained within the Program Files directory, as this can result in some permission issues when updating the software.</p>
<p> Once installation is complete, you can launch Foundry VTT using either the shortcut in the start menu, on your desktop, or by running the FoundryVTT.exe file located within your installation location.</p>

<h3 id="mac">Installation - macOS</h3>
<p>If you are using the macOS version of Foundry VTT, there are some steps which are required to allow you to run the app. As the macOS copy of Foundry VTT is not code-signed through Apple's developer process, you may see a notification when you try to run the app, advising you that the application cannot be opened "because it was not downloaded from the app store" or "because the developer cannot be verified." (More information on this security process from Apple <a href="https://support.apple.com/en-ca/HT202491" target="_blank" rel="nofollow noopener">here</a>.)</p>
<p>To install Foundry VTT and allow the app to launch, do the following:</p>
<ol>
    <li>Open the downloaded <strong>.dmg</strong> file.</li>
    <li>Drag the Foundry VTT app icon to the Applications folder.</li>
    <li>Open your Applications folder, and <strong>right-click</strong> on the Foundry VTT app. Choose "Open".</li>
    <li>A prompt will appear: <em>macOS cannot verify the developer of "FoundryVTT". Are you sure you want to open it?</em></li>
    <li>Click "Open".</li>
	<li>The app will launch, and can now be opened in the future by double-clicking it or launching it from the Dock.</li>
</ol>

<h3 id="linux">Installation - Linux</h3>
<p>For Linux users, Foundry Virtual Tabletop is currently distributed as a simple;<strong>.zip</strong> archive. All you need to do to "install" it is extract the zip file in a location of your choosing. Feel free to choose whatever installation location is best for you, a simple option would be to use a folder named foundryvtt in your user home directory.</p> <pre><code>unzip foundryvtt.zip -d $HOME/foundryvtt</code></pre>
<p>Once you have extracted the archive, locate the <code>foundryvtt</code> file in the directory and set the permission on it to allow execution as a program. This will allow you to execute it from the terminal with <code>./foundryvtt</code></pre>. Alternatively, on some Linux distributions (Deb/Ubuntu) you can rename the <code>foundryvtt</code> file to add a .sh extension. This will allow you to quickly launch it by double-clicking. At this time there is no Linux .desktop packaged with FVTT.</p>

<h2 id="configure" class="border">Configuring the Application</h2>
<p>When you have launched the application you will initially be greeted by a window prompting you to enter your Software License Key. Enter your purchased Software License key and click <strong>Submit</strong>.</p>
<figure><img src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/license-key-2020-04-17.png" />
	<figcaption>Enter your purchased Software License Key in this field.</figcaption>
</figure>
<p>After entering your license key you will be prompted to sign the End User License Agreement, agreeing to the terms of the software will contact the Foundry web server to validate and sign your license so, for this step of the process <strong>an internet connection is required</strong>.</p>

<h3>Getting Started</h3>
<p>That's it, you're ready! Now it's time to get started by checking out the @Article[tutorial] and for a guide on ensuring your players are able to connect be sure to take any necessary steps to set up @Article[port-forwarding].</p>

<h2 id="dedicated" class="border">Hosting a Dedicated Server with NodeJS</h2>
<p>If you are planning to host and run Foundry Virtual Tabletop as a dedicated server rather than a client application, FVTT is also available as a NodeJS package. The NodeJS version of the package is available from the Purchased Licenses page mentioned above.<p>

<h3>Installing NodeJS</h3>
In order to use the NodeJS package it is necessary to install NodeJS for whichever operating system you intend to use to host your server. As this process varies greatly depending on OS, it is recommended you see the installation documentation available from <a href="https://nodejs.org/en/download/">NodeJS.org</a>.
<p class="note info">Note that a relatively modern version of Node.js is required in order to support various security features which are required by the application. Please use Node.js version 14.x or newer.</p>

<h4 id="redhat">For Red Hat / Amazon Linux package manager</h4> <pre><code class="language bash">sudo yum install -y openssl-devel
curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo bash -
sudo yum install -y nodejs
	</code></pre>
	
<h4 id="debian">Debian / Ubuntu package manager</h4> <pre><code class="language bash">sudo apt install -y libssl-dev
curl -sL https://deb.nodesource.com/setup_14.x | sudo bash -
sudo apt install -y nodejs
	</code></pre>

<h3>Downloading via Terminal</h3>
<p>You may have noticed a small 'chain' link icon next to the download links on the download page. Clicking this chain icon generates a temporary link which can be used to download Foundry VTT via a terminal or shell interface using wget.</p>
<p>When downloading the link using a command line utility such as <code>wget</code> it's important to wrap the link in double-quotes. This ensures that the link is read correctly by the command. For example: </p>
<blockquote>~/:$ wget -O foundryvtt.zip "https://your-download-link-from-foundry-vtt.com-here/"</blockquote>

<p class="info note">Please be aware that the download links provided via the purchased licenses page expire every 5 minutes.</p>

<h3>Extracting and Launching the Server Using NodeJS</h3>
<p>Now that you have downloaded both the Foundry VTT NodeJS package and installed NodeJS, it's time to extract the zip and create your data directory.</p> 
<h4 id="dedicated-linux">For Linux</h4>
<pre><code class="language bash"># Create application and user data directories
cd $HOME
mkdir foundryvtt
mkdir foundrydata

# Install the software
cd foundryvtt
wget -O foundryvtt.zip "&lt;foundry-website-download-url&gt;"
unzip foundryvtt.zip

# Start running the server
node resources/app/main.js --dataPath=$HOME/foundrydata
</code></pre>

<h4 id="dedicated-mac">For macOS</h4>
	<p>Foundry VTT is also supported as a native application on macOS using Electron, however if you wish to host the software using Node.js directly, this is also an option in the macOS environment. Simply visit <a href="https://nodejs.org/en/download/" target="_blank" rel="nofollow noopener">https://nodejs.org/en/download/</a> and download the macOS installer. Node is installed on your system, you can run the server using the instructions in the below section via your Mac terminal.</p>
	
<pre><code class="language bash"># create a user data directory
cd $HOME
mkdir foundrydata

# access the application directory
cd ~/Library/Application Support/FoundryVTT
# Start running the server
node resources/app/main.js --dataPath=$HOME/foundrydata
</code></pre>
	
<h4 id="dedicated-windows">For Windows</h4>
	<p>Note that you can run a dedicated server from Windows also, for Windows you should download and install node.js from <a href="https://nodejs.org/en/download/" target="_blank" rel="nofollow noopener">https://nodejs.org/en/download/</a>.</p>
	<pre><code class="language bash"># create a user data directory
cd %userprofile%
mkdir foundrydata
		
# access the application directory
cd C:\Program Files\FoundryVTT\

# Start running the server
node resources/app/main.js --dataPath=%userprofile%/foundrydata
</code></pre>
<p>Now that you are running Foundry VTT via node, open any modern web browser and connect to <a href="http://127.0.0.1:30000"></a>http://127.0.0.1:30000</a> to access your Foundry VTT server. If you wish to keep the server running perpetually, you can find relevant documentation for maintaining background processes with a package manager such as PM2 <a href="https://pm2.keymetrics.io/docs/usage/quick-start/">here</a>, or otherwise review the relevant documentation for crontab or the equivalent for your operating system.</p>
<!---This section reserved for PM2 explanation--->