<h2 id="hosting" class="border">Hosting Service Providers</h2>
<blockquote class="question">Foundry Virtual Tabletop is a self-hosted application - but many users may not wish to deal with the headache of managing the technical configuration of the software. I'm proud to partner with the following hosting service providers who offer managed solutions for hosting your Foundry Virtual Tabletop server in a cloud environment. These providers help you to skip the setup and getting straight to rolling dice, while also offering a number of additional perks that make your use of Foundry VTT even more awesome. I encourage users to please consider the following hosting partners.</blockquote>
<p class="note info">Hosting Partners require use of your purchased Foundry Virtual Tabletop License Key in order to function. Their fees are in addition to the one-time fee for your Foundry Virtual Tabletop License Key.</p>

<h3 id="foundry-server" class="border">Foundry Server</h3>
<a href="https://www.foundryserver.com" title="Visit Foundry Server" target="_blank"><img class="noborder left" title="Foundry Server" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/asset/foundry-server-logo-2021-05-01.png" width="200" height="200"/></a>
<p><a title="Foundry Server" href="https://www.foundryserver.com" target="_blank">Foundry Server 2.0</a> provides a reliable, cost effective, and responsive hosting service for the Foundry VTT gaming environment.</p>
<p>After almost a year of development we are proud to announce the relaunch of foundryserver.com. Every element of the service has been reengineered to provide the best in performance, reliability, and usability. Our new web interface gives you real time stats, easy S3 bucket setup, email logs and as a bonus, you will now have your own private performance monitoring tool. You can see in real time, how much ram, CPU and bandwidth your game server is consuming along with a 31-day historical record. This will help you fine tune and debug your worlds so that you can provide the best gaming possible for your players. <a href="https://www.foundryserver.com" target="_blank">Start your free trial today</a> and start building the fantasy world you have always dreamt of. In the end what sets us apart the most is our community. There is a great team in place on <a href="https://discord.gg/H5v4YC5dbq" target="_blank"> Discord </a>to help with whatever you need, just ask!</p>
<p>If a new website was not exciting enough! We have also partnered up with AAW Games and now each account comes with 3 exclusive one shots ready to play. Maps, npcs, premade pcs, journal entries and tokens everything you need to play as soon as you launch your game server for the first time, all you need are your buddies.</p>

<h3 id="molten-hosting" class="border">Molten Hosting</h3>
<a href="https://moltenhosting.com" title="Molten Hosting" target="_blank"><img class="noborder left" title="The Forge" src="/static/assets/icons/molten-hosting.svg" width="200" height="200"/></a>
<p><a href="https://moltenhosting.com" title="Molten Hosting" target="_blank">Molten Hosting</a> provides an affordable, reliable, and secure solution for running your FoundryVTT game in the cloud. We aim to provide a pure Foundry Virtual Tabletop experience, meaning if your game runs locally, it will run on our platform.  With plans starting at $4/mo and a 7 day free trial, its easy to get started.  Our service offers a range of features including: FTP, automatic backup and recovery, generous storage quotas, and custom DNS (bring your own domain)!</p>
<p>Molten Hosting is developed and maintained by VersaceHovercraft, a professional Cloud Architect. Molten Hosting leverages modern cloud technologies to do the heavy-lifting, allowing us to focus on ensuring customers have the best experience possible.</p>
<p>If you would like to learn more, ask questions, or get involved with the Molten Hosting community please consider joining our <a href="https://discord.gg/pzYXEQ3" title="Molten Hosting Community Discord" target="_blank">Discord server</a> or reach out with questions at <a href="mailto:support@moltenhosting.com" title="Email Molten Hosting">support@moltenhosting.com</a>.</p>

<h3 class="border" id="the-forge">The Forge</h3>
<p><a href="https://forge-vtt.com/?referral=foundryvtt" rel="nofollow" target="_blank" title="The Forge"><img class="noborder left" src="/static/assets/icons/the-forge.png" title="The Forge"></a></p>
<p><a href="https://forge-vtt.com/?referral=foundryvtt" rel="nofollow" target="_blank" title="The Forge">The Forge</a> is the first and only <strong>fully integrated, turn-key, high-availability hosting solution</strong> for your Foundry VTT games. A truly unique "no-nonsense" experience, with unmatched features, speed &amp; availability—at prices so low, you'll wonder if our accountants were locked in a dungeon.</p>
<div style="column-count: 2; column-gap: 0px; margin: 0px; padding: 0px;">
<ul style="margin-bottom: 0px; margin-top: 0px;">
    <li>Get up &amp; running in seconds. Experience all FoundryVTT has to offer with <i>instantaneous</i> modules activation &amp; one-click upgrades.</li>
    <li>Your games are always-on and available to you &amp; your players. No bandwidth/transfer caps, and our storage quotas are generous like the amount of minions a vengeful GM throws at their players.</li>
    <li>Our servers in 50+ locations around the world automagically make your games load ⚡ fast, no matter where your players are located.</li>
    <li>Built &amp; operated by the infamous <a href="https://patreon.com/kakaroto" rel="nofollow" target="_blank">KaKaRoTo</a>—expect the same dedication, polish and seamless integration you've seen in his many free <a href="/community/kakaroto" rel="nofollow" target="_blank">FVTT modules</a> and <a href="https://beyond20.here-for-more.info" target="_blank">Beyond20</a>.</li>
</ul>
</div>
<p><strong>The Forge is unique, magical,</strong> and downright <strong>overpowered.</strong> Use it to crush your adventurers instead of hearing the lamentations of your router! <br/><a href="https://forge-vtt.com/?referral=foundryvtt" rel="nofollow" target="_blank" title="Visit the Forge">Try it for free for 14 days</a> and discover its unique attributes, vibrant community of happy users &amp; loyal customers who decided to mess with their players instead of their infrastructure.</p>

<h3 id="worldmill" class="border">Worldmill</h3>
<a href="https://worldmill.online" title="Worldmill Hosting" target="_blank"><img class="noborder left" title="Worldmill Hosting" src="/static/assets/icons/worldmill.png" width="200" height="200"/></a>
<p><a title="Worldmill Hosting" href="https://worldmill.online" target="_blank">Worldmill</a> provides a highly available, personalised, high performance, Foundry Virtual Tabletop hosting service. Launched in December, 2020, the Worldmill service is secure, reliable and your assets are completely portable between Worldmill, alternative providers, and your home system. Our servers are hosted in Amsterdam and deliver low latency for European based users.</p>
<p>We offer a 14 day free trial for new users with plans starting at $7.99 a month. All plans offer generous networking and storage provisions with a simple and HTTPS secured file manager (via WebDAV, broadly supported by clients such as CyberDuck and WinSCP) to access to your storage.</p>
<p>Worldmill is developed by a UK based team, with decades of gaming and software development experience. We have a strong focus on performance and our solution uses leading-edge cloud technologies to deliver value to you.</p>
<p>To find out more, visit <a title="Worldmill Hosting" href="https://worldmill.online" target="_blank">https://worldmill.online</a>.</p>

<h2 id="content" class="border">Community Content Creators</h2>
<blockquote class="question">Foundry Virtual Tabletop is proud to have established partnerships with several other creators or projects who are producing fantastic software, content, or services.</blockquote>
<h3 id="encounter-library" class="border">Encounter Library</h3>
<p><img class="noborder left" title="Encounter Library" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/artwork/encounter-library-logo-2021-01-05.png" width="200" height="200" /></p>
<p><a title="Encounter Library Website" href="https://www.encounterlibrary.com/" target="_blank" rel="nofollow noopener">Encounter Library</a> is one of the foremost community driven sources for information about Foundry Virtual Tabletop, providing a <a title="Encounter Library Website" href="https://www.encounterlibrary.com/" target="_blank" rel="nofollow noopener">website</a> and <a title="Encounter Library on Youtube" href="https://www.youtube.com/c/encounterlibrary" target="_blank" rel="nofollow noopener">YouTube Channel</a> dedicated to creating free and easy to follow guides on Foundry VTT and its modules whether you're a GM or a player.</p>
<p>If you're a GM the Foundry Basics series has everything you need to master Foundry and they offer dozens of module guides which cover how to use a number of simple and advanced modules to really bring your game to another level. Their players guide offers a walkthrough for everything you need to know to play in a game regardless of what system you use.</p>
<p>Encounter Library also covers tools for creating world and encounter maps along with campaign building and management, and they keep up to date on new releases and create "What's New" videos that cover the updates, bug fixes, and new features in summary to deliver the latest Foundry VTT news. <br /><br />Please check them out! I'm sure you'll learn something new!</p>

<blockquote class="question">Foundry Virtual Tabletop is proud to have established partnerships with several other creators or projects who are producing fantastic software, content, or services.</blockquote>
<h3 id="encounter-library" class="border">Foundry Hub</h3>
<p><img class="noborder left" title="Foundry Hub" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/asset/foundry-hub-logo-2021-03-28.webp" width="200" height="200" /></p>
<p><a href="https://www.foundryvtt-hub.com" rel="nofollow" target="_blank" title="Foundry Hub">Foundry Hub</a> is a meeting point and sharing catalyst for the Foundry VTT community of gamers, game masters, authors, artists and developers.</p>
<p>Whether you are new user or GM or have years of experience with tabletop gaming, they have something for you:</p>
<div style="column-count: 1; margin: 0px;">
    <ul style="margin-bottom: 0px; margin-top: 0px;">
        <li>News to keep you up-to-date on the latest happenings</li>
        <li>Forum for exchanging articles, advice, tutorials and more</li>
        <li>Package explorer to easily discover exciting add-on content</li>
        <li>Creator explorer to find artists, authors, map makers, musicians...</li>
    </ul>
</div>
<p>Join Foundry Hub, ask questions, share your contributions, and become part of a friendly, growing community of Foundry VTT enthusiasts.</p>

<h3 id="forgotten-adventures" class="border">Forgotten Adventures</h3>
<p><img class="noborder left" title="Forgotten Adventures" src="/static/assets/icons/forgotten-adventures.png" /></p>
<p><a title="Forgotten Adventures Website" href="https://www.forgotten-adventures.net/" target="_blank" rel="nofollow noopener">Forgotten Adventures</a> is an artistic community of virtual tabletop gaming enthusiasts organized by Stryxin, a devoted artist and dungeon master who creates tokens, props, textures, and battlemaps specifically designed with virtual tabletop gaming in mind. Patreon supporters of Forgotten Adventures gain access to the complete portfolio of assets with new releases arriving several times per month. Stryxin is even tackling an incredibly ambitious goal to draw creature tokens for every D&amp;D5e monster.</p>
<p>I am thrilled to partner with Stryxin and Forgotten Adventures to showcase his fantastic artwork and make it available to Foundry Virtual Tabletop users as part of our D&amp;D5e system implementation which features token artwork by Stryxin for all the creatures which have currently been completed - eventually covering the entire Monsters SRD compendium.</p>
<p>These included tokens are just a subset of the amazing work available in this community so please be sure to support Forgotten Adventures on Patreon for even more content. Visit <a href="https://www.patreon.com/forgottenadventures/" target="_blank" rel="nofollow noopener">https://www.patreon.com/forgottenadventures/</a> for more information!</p>

<h2 id="integrations" class="border">External Integrations</h2>
<blockquote class="question">Foundry Virtual Tabletop features exciting integrations with a number of excellent external software and services which makes it easy for you to unify campaign planning, battlemap creation, and more into a unified experience.</blockquote>

<h3 id="dScryb" class="border">dScryb</h3>
<p><img class="noborder left" title="dScryb - Boxed Text" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/asset/dscryb-logo-2021-04-05.png" width="200" height="200" /></p>
<p><a title="dScryb Website" href="https://dscryb.com/" target="_blank" rel="nofollow noopener">dScryb</a> provides Boxed Text&mdash;descriptive text of places, monsters, spells, items, characters, and other observations&mdash;meant to be read aloud by GMs to players. It is set in the world of epic fantasy, like many of your favorite RPGs. Great boxed text shows its subject by describing the sensory experience and it often sets the narrative tone, introduces the scene, and spotlights what&rsquo;s important.</p>
<p>The dScryb collection provides over 1,800 entries, with hundreds more added each month, and each scene is written and edited by professionals. It&rsquo;s boxed text just like an adventure book, but designed to be dropped into any campaign. dScryb provides an <a href="/packages/dscryb" target="_blank" rel="nofollow noopener">integration module</a> which also offers Foundry-ready maps with specially written boxed text and, there are over 250 entries available totally for free!</p>
<p>Foundry users can save $5 by entering the code <strong>FOUNDRYVTT</strong> at checkout!</p>

<h3 id="dungeondraft" class="border">Dungeondraft</h3>
<p><img class="noborder left" title="Dungeondraft" src="/static/assets/icons/dungeondraft.png" width="200" height="200"/></p>
<p><a title="Dungeondraft Website" href="https://dungeondraft.net/" target="_blank" rel="nofollow noopener">Dungeondraft</a> by Megasploot is a dungeon and battlemap creation software from the maker of Wocnderdraft which is designed to feature an unintimidating UI, intuitive tools for a fast map creation workflow, and a beautiful library of built-in artwork and textures.</p>
<p>Creating a map in Dungeondraft is easy with the smart tiling and object scattering system which allows you to paint detailed landscapes and terrain with just a few clicks of your mouse. Dungeondraft also features a built-in lighting system as well as dungeon and cave generators. The software does not require an internet connection, is DRM free, and is a one-time purchase to buy.</p>
<p>One of the most exciting aspects of Dungeondraft is that it integrates with Foundry Virtual Tabletop using the <a href="https://foundryvtt.com/packages/dd-import/" title="Dungeondraft Importer Module" target="_blank">Dungeondraft Importer</a> which will automatically import and set up Walls and Ambient Light sources attached to your Dungeondraft map for lightning fast game session prep.</p>

<h3 id="dungeon-fog" class="border">Dungeon Fog</h3>
<p><img class="noborder left" title="Dungeon Fog" src="/static/assets/icons/dungeon-fog.png" /></p>
<p><a title="Dungeon Fog Website" href="https://www.dungeonfog.com/" target="_blank" rel="nofollow noopener">Dungeon Fog</a> is an online map maker &amp; authoring tool for RPG game masters. With the extensive DUNGEONFOG Editor you can draw your RPG tabletop maps with just a few clicks &ndash; no more patching up map tiles! Create multi-level dungeons, terrain, or entire worlds in an instant. Generate your GM-Notes automatically and export or print high-res images and notes, or send a Fog of War version for your players to your TV!</p>
<p>Thanks to the hard work of community modders, Foundry Virtual Tabletop features a Dungeon Fog integration module which can automatically configure walls and doors for the fog of war and ambient lighting system automatically by exporting data directly from Dungeon Fog and importing into Foundry VTT. Learn more on the Installing Game Systems and Modules page.</p>
<p>To celebrate our partnership, you can use the discount code FOUNDRY when subscribing to the Dungeon Fog service for a 10% discount on the price of subscription! Visit <a href="https://www.dungeonfog.com/foundry" target="_blank" rel="nofollow noopener">https://www.dungeonfog.com/foundry</a> to take advantage of this offer!</p>

<h3 id="world-anvil" class="border">World Anvil</h3>
<p><img class="noborder left" title="World Anvil" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/asset/world-anvil-logo-2020-06-12.jpg" /></p>
<p><a title="The World Anvil Website" href="https://www.worldanvil.com/" target="_blank" rel="nofollow noopener">World Anvil</a> is the ULTIMATE world-building platform and campaign manager, and supports any RPG system and genre. Create, store and organize all the details of your campaign, homebrew content, NPCs, locations, and more. It’s perfect for creating and tracking extended lore, so you never lose anything between sessions, or between campaigns. Your players can manage and expand their characters and write sessions journals too! And you can share what you want with your players, or keep secrets from them!</p>
<p>World Anvil features a powerful Foundry Virtual Tabletop integration module which allows you seamlessly use your content created in World Anvil inside Foundry VTT. With World Anvil integrated into FoundryVTT, it’s so easy to pull information from your world into your Foundry VTT game! You can pull in articles, share images with your players, and so much more! And this is only the beginning!</p>
<p>To celebrate this partnership, you can use the discount code <code>FOUNDRY</code> for 20% off 6 and 12 month memberships at the Master and Grandmaster tier. Or go to <a title="The World Anvil Website" href="https://www.worldanvil.com/" target="_blank" rel="nofollow noopener">www.worldanvil.com</a> to get started for free!</p>

<h3 id="kanka" class="border">Kanka</h3>
<p><img class="noborder left" title="Kanka" src="/static/assets/icons/kanka.png"/></p>
<p><a title="Visit Kanka.io" href="https://kanka.io/en-US" target="_blank" rel="nofollow noopener">Kanka</a> is the worldbuilding and tabletop RPG campaign management tool perfect for worldbuilders and game masters alike. We help you create and organize your campaigns and worlds with a whole range of features such as calendars, interactive maps, timelines, organizations, families, and as many characters as you can come up with!</p>
<p>Community is in our DNA, and you can look forward to regular Community votes to determine the direction that Kanka takes, as well as our Community Marketplace, where creators can showcase their creativity and make their content useable by others. </p>
<p>Kanka also has an <a href="https://foundryvtt.com/packages/kanka-foundry/" title="Kanka-Foundry Integration Module" target="_blank">integration module</a> that allows you to import entries written in Kanka as journal entries into Foundry Virtual Tabletop. This module imports Kanka entries including their main entry text, their main image and some metadata, which will be included as a table above the main entry text.</p>

<h3 id="dungeon-app" class="border">DunGen.app</h3>
<p><img class="noborder left" title="DunGen.app" src="/static/assets/icons/dungen-channel.png" /></p>
<p><a title="DunGen Website" href="https://dungen.app/" target="_blank" rel="nofollow noopener">DunGen</a> is a Dungeon Generator that creates high resolution maps ready to import into Foundry VTT. It offers many room variations with several themes to choose from, and uses a custom algorithm to try and generate a logical dungeon. DunGen is still in development and updated often with new rooms, themes and features.</p>
<p>In addition to the generated map images themselves, you can also generate a full scene file including pre-built walls to take full advantage of Foundry's dynamic lighting. You can see this integration in action in this <a href="https://youtu.be/2RlPpLOFkhc" title="DunGen Preview Video" target="_blank">short video</a>.</p>

<h3 id="tos-five" class="border">TOS Five - The Only Sheet</h3>
<p><img class="noborder left" title="TOSFive Website" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/asset/tos5-logo-2020-05-27.png" /></p>
<p>For over a decade, <a title="TOSFive Website" href="http://theonlysheet.com/tosfive/index.shtml" target="_blank" rel="nofollow noopener">The Only Sheet</a> has been providing Character Managers and other tools to gamers. Using the power of Excel to handle all the number crunching, these managers allow users to focus on the gaming experience, and not on adding numbers. They all feature Dynamic Play, which allows various effects to be activated directly on the character. For example, if the PC receives a 'Haste' spell, the character is updated with all the effects of that spell. The Stacking rules are handled automatically, and it is possible to customize almost any class, race, feat, spell, or more.</p>
<p>For years, TOS5 users have been hard at work creating content from other sources, and sharing those creations on the friendly community forums. Hundreds of class and races have thus been shared over the years.</p>
<p>In our first partnership with Foundry VTT, <a target="_blank" href="https://theonlysheet.com/tosfive/">TOS FIVE</a>, the manager for the 5e edition, has been upgraded to allow character to be exported in a format that Foundry VTT can import, thus allowing users to use the best character manager in conjunction with the best virtual table top app! To get involved or learn more about the TOS5 project, join their <a href="https://discord.gg/Kvx4YkD" title="TOS5 Discord Server" target="_blank">Discord Server</a>.</p>

<h2 id="thanks" class="border">Thanks and Attributions</h2>
<blockquote class="question">I owe thanks to the following individuals and organizations for their assistance and contributions during the development of Foundry Virtual Tabletop.</blockquote>

<h3 id="iron-moose" class="border">Iron Moose Development</h3>
<p><img class="noborder left" title="Iron Moose Development" src="/static/assets/icons/iron-moose.png" /></p>
<blockquote style="margin-left: 220px">Software done with a natural touch.</blockquote>
<p><a title="Iron Moose Development" href="https://github.com/IronMooseDevelopment" target="_blank" rel="nofollow noopener">Iron Moose Development</a> is an independent software developer with a broad range of specialization. Iron Moose loves making software that is as easy and reliable as breathing. They bring "The Iron" with decades of industry experience and the knowledge of how to build scalable and reliable systems at any size and flexibility. "The Moose" is a reminder of why they program in the first place - to always help their users solve a problem.</p>
<p>I partnered with Iron Moose Development for assistance in setting up a continuous integration, testing, and deployment solution for Foundry Virtual Tabletop release builds across multiple platforms of Windows, Linux, and MacOS. Iron Moose was a pleasure to work with - offering knowledgable advice and timely assistance in getting working pipelines set up for me using Microsoft Azure. I'd definitely recommend Iron Moose to anyone who wants to outsource portions of their application or infrastructure.</p>

<h3 id="art" class="border">Artwork and Icons</h3>
<ul>
<li>Thanks to J. W. Bjerk (eleazzar) for "Painterly Spell Icons" series: <a href="https://opengameart.org" target="_blank" rel="nofollow noopener">https://opengameart.org</a></li>
<li>Potion Artwork** Thanks to Melle, <a href="https://opengameart.org/content/fantasy-potion-set" target="_blank" rel="nofollow noopener">https://opengameart.org/content/fantasy-potion-set</a></li>
<li>Thanks to various contributors, <a href="https://game-icons.net" target="_blank" rel="nofollow noopener">https://game-icons.net</a></li>
<li>Dice by Mike Valstar from the Noun Project</li>
<li>Dice by Dank By Design from the Noun Project</li>
<li>Dice by Heberti Almeida from the Noun Project</li>
<li>Licensed icon artwork by Rexard <a href="https://assetstore.unity.com/publishers/13229" target="_blank" rel="nofollow noopener">https://assetstore.unity.com/publishers/13229</a></li>
</ul>

<h3 id="audio" class="border">Audio Assets</h3>
<ul>
<li>Thanks to Mike Koenig, and other Contributors: <a href="https://soundbible.com" target="_blank" rel="nofollow noopener">https://soundbible.com</a></li>
<li>Thanks to Dymewiz and other Contributors: <a href="https://freesound.org" target="_blank" rel="nofollow noopener">https://freesound.org</a></li>
</ul>