<h2>Overview</h2>
<p>The prior sections of this tutorial focused on the early user experience of gamemasters and setting up their game worlds to run sessions. This article however, will focus on the early user experience of those who will be playing in a game session and controlling player characters. The goal of this article will be to familiarize you with joining sessions, claiming characters, editing character sheets, using the ruler, moving tokens, and Foundry Virtual Tabletop's UI as seen from a player perspective.</p>
<h2 class="border">Joining a Game Session</h2>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-join-session-2021-01-22.jpg" target="_blank" rel="nofollow noopener">@Image[140]</a>
<figcaption>From this screen you can select your user, enter your password, and join a game session.</figcaption>
</figure>
<p>To join a game session once your gamemaster has set up and launched the world, you only need to point your web browser at the server address your GM has provided you.</p>
<p>Once there, you should see a login screen, and have a list of user names to select. After selecting your username, you can enter a password (if necessary) and join the session.</p>
<p>After a brief period of connection and loading you will be brought to the session's current active scene, and be able to begin interacting with the game.</p>
<p>If this is the first time you've joined the game, you may be faced with the player configuration window, which is detailed below.</p>
<h3>Player Configuration</h3>
<figure class="right" style="width: 30%;"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-player-config-menu-2021-01-22.jpg" target="_blank" rel="nofollow noopener"><img src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-player-config-menu-2021-01-22.jpg" alt="Player Configuration Screen" /></a>
<figcaption>From this screen you can select your avatar, player color, and claim a character that's been granted to you by a game master.</figcaption>
</figure>
<p>When you first join a game session you'll be presented with the player configuration screen, here you'll select your user color which affects your cursor color, the color of your ruler, and other small aesthetic features. You'll also set your avatar, if you like. To enter this menu again once you've closed it, you simply need to right click on your name in the user list, and select Player Configuration.</p>
<h4>Choosing Your Character</h4>
<p>As a player, your game master will probably create and assign to you a character. When you first join a game session and get the initial player configuration screen, you may see one or more characters listed for you to claim. Once you claim a character their name will be appended to your user name, and that character will be under your control in scenes.</p>
<p>To change characters, you simply need to reopen the player configuration screen, and select the new character you want.</p>
<p>If you have not been granted ownership of any characters, then there will be no characters listed for you to choose.</p>
<h2 class="border">Introduction to the UI</h2>
<figure><a href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/screen/player-ui-map-2021-01-27.jpg" alt="FVTT UI Map">@Image[144]</a>
<figcaption>This UI map describes the interface you will see as a Player.</figcaption>
</figure>
<dl>
    <dt>Canvas</dt>
    <dd>The canvas, not labeled in the picture above, is the underlying layer where the scene and all objects are shown.</dd>
    <dt>Game Pause Indicator</dt>
    <dd>When the game is paused, players may not move their tokens or manipulate doors. </dd>
    <dt>Layer Controls</dt>
    <dd>Used to switch layers on your @Article[scenes] to control the various placeable canvas objects, including: </dd>
</dl>
        <ul>
            <li><strong>Basic Controls</strong> for interacting with @Article[tokens]</li>
            <li><strong>Measurement Controls</strong> provide tools for @Article[measurement] which can be used to measure distance or mark area of effect.</li>
            <li><strong>Journal Notes</strong> for viewing pinned Journal Entries called @Article[map-notes]</li>
        </ul>
<dl>
    <dt>Layer Tools</dt>
    <dd>The specific tools related to the layer you are currently using.</dd>
    <dt>Scene Navigation Bar</dt>
    <dd>Used to switch between currently available scenes. </dd>
    <dt>Sidebar Tabs</dt>
    <dd>Used to access data for the various entities stored in your world.</dd>
    </dl>
    <ul>
    <li><strong>Chat Log</strong> displays current chat messages and dice rolls</li>
    <li><strong>Combat Tracker</strong> displays any currently active combats</li>
    <li><strong>Actors</strong> are commonly used to store and access character sheets</li>
    <li><strong>Items</strong> store information sheets for inventory and equipment, but also are commonly used for spells and abilities</li>
    <li><strong>Journals</strong> store image and text handouts which can be viewed and edited.</li>
    <li><strong>Tables</strong> can be used to roll for determining randomized outcomes from a list of results</li>
    <li><strong>Playlists</strong> adjust the volume of current audio sources and see which audio track is currently playing</li>
    <li><strong>Compendium Packs</strong> are used to store entities that are not actively needed</li>
    <li><strong>Settings</strong> allows for the configuration or customization of your Foundry VTT experience.</li>
    </ul>
    <dl>
    <dt>Players List</dt>
    <dd>Displays the current user accounts, when collapsed, only shows the users who are currently signed in.</dd>
    <dt>Macro Directory</dt>
    <dd>Provides access to all macros that have been created which you have permission to view, use, or edit.</dd>
    <dt>Macro Hotbar</dt>
    <dd>Gives instant keypress access to 10 quick Macros, which can be used to send chat messages or perform scripted API actions. Primarily used by advanced users. Some systems provide the ability to drop items or actors onto the macro bar to generate a macro for quick use. The Hotbar Pages control can be used to switch between up to four different pages of macro layouts.</dd>
    <dt>Default Roll Mode</dt>
    <dd>used to set the current mode to be used for rolling dice. For more information see @Article[dice].</dd>
    <dt>Chat Entry</dt>
    <dd>used to chat, communicate, and enter chat commands.</dd>
    </dl>
<h2 class="border">Your Character</h2>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-stated-player-actor-directory-2021-01-22.jpg" target="_blank" rel="nofollow noopener">@Image[143]</a>
<figcaption>The Actors Directory will list any characters that you own or have the ability to observe.</figcaption>
</figure>
<p>If you have ownership of a character you'll likely want to access the related character sheet to review and edit its details. To find your owned characters you will need to click on the Actors Directory in the right sidebar.</p>
<p>From here you will find a list of all actors that you have the ability to control or see, depending on the access your game master has granted you.</p>
<p>To view a character you only need to click on their name in the list to open the character sheet.</p>
<p>Making edits to a character sheet you own can be done while the see if open. Most of the entries on the character sheet automatically updated when changed, though depending on the system being used, some may require you to commit changes with the click of a save button.</p>

<h3>Navigating a Scene</h3>
<p>Once you have a character token placed into an active scene you're likely going to want to move that character around to explore the area. Moving a token can be done in several ways, depending on what is easiest for you.</p>
<p>Moving a token can be done in several ways, depending on what you and your players need, and what is easiest for you:</p>
<ul>
<li><strong>Drag Movement </strong>- Click and drag a token to move it in a straight line along the path to a new location. As soon as you release the token Foundry will execute the move. It should be noted that as a gamemaster you can drag tokens through walls and other obstructions, but players cannot.</li>
<li><strong>Incremental Movement</strong> - The arrow or WASD keys can be used to move a controlled actor around a scene. This is especially useful for doing small, incremental moves in tight spaces where walls and terrain might block movement. You can also hold down Shift while using these movement keys to quickly rotate an actor to a particular facing without changing their position on the map.</li>
<li><strong>Measured (Waypoint) Movement </strong>- The measurement tools can be used to to move tokens. This is done quickly holding down the control (CMD for macOS) key, then clicking and dragging in a direction from a token you control. This will show you a path, and distance to the final location. You can left click in additional places along the route to place waypoints the token will follow. To move a token using this method, simply press the spacebar, and Foundry will move the token along the line to the final measured point. You can do the same thing with the measure distance tool if the start of the measurement is on a token you control.</li>
</ul>
<p>It should be noted that you cannot move tokens through walls and other obstructions that the game master has created, and you'll receive a notice if you attempt to do so.</p>
<p>You can learn more about Foundry VTT's control setup in the @Article[controls] article.</p>
<h3>The Token Hud</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_671/screen/player-token-hud-2021-01-28.jpg" target="_blank" rel="nofollow noopener">@Image[146]</a>
    <figcaption>The Token hud appears when a right-click is performed on any token you own.</figcaption>
    </figure>
<p>If your character has been placed on the canvas as a token, you gain access to a number of quick actions you can perform as a Heads Up Display that you can view by right clicking on your token at any time.</p>
<dl>
    <dt>Resource Bars</dt>
    <dd>If configured by your GM, these bars provide a visual representation of resource attibutes (most often for tracking HP or MP)</dd>
    <dt>Resource Bar Inputs</dt>
    <dd>Are used to change the value of the displayed resource bars.</dd>
    <dt>Status Effects</dt>
    <dd>This allows you to assign status effects to your character, and are defined by whichever Game System you are currently playing.</dd>
    <dt>Elevation</dt>
    <dd>This provides a simple height indicator label that will appear overlaid on your token to show their current elevation. This does not affect token vision at this time.</dd>
    <dt>Target</dt>
    <dd>Clicking this indicates to the GM that you are targeting yourself (or another token you control). To target tokens you don't control, you can quickly double-rightclick to mark them as a target or use the targeting tool from the Basic Controls layer. </dd>
    <dt>Toggle Combat</dt>
    <dd>If there is an active combat, clicking this button will place your token in the combat tracker.</dd>
    
</dl>
<h3>Volume Settings</h3>
<figure class="right"><a title="See Larger Image" href="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1294/screen/getting-started-volume-controls-2021-01-22.jpg" target="_blank" rel="nofollow noopener">@Image[142]</a>
<figcaption>These sliders allow players to adjust different aspect of Foundry VTT's soundscape volume.</figcaption>
</figure>
<p>In the upper right you'll see a music symbol, this is the Audio Playlists sidebar, which the gamemaster uses to manage music and sound effects. As a player, you can adjust the volume of three aspects of Foundry VTT.</p>
<dl>
<dt>Playlists</dt>
<dd>The playlist volume setting controls how loud music and sound effects played from the Audio Playlist sidebar are.</dd>
<dt>Ambient</dt>
<dd>The ambient volume setting controls how loud sound effects placed into scenes are.</dd>
<dt>Interface</dt>
<dd>The interface volume setting controls how loud any sounds produced by the interface are, such as the dice sounds produced when rolls are made.</dd>
</dl>
<h4>Conclusion of Part 3</h4>
<p><strong>This concludes part three of the Getting Started Tutorial!</strong></p>
<ul>
    <li>Return to the @Article[tutorial] or @Article[tutorial-two].</li>
</ul>