<h3>Updated February 22, 2021</h3>
<p>This policy describes your rights under GDPR and other legislation which is designed to protect privacy of your personal information. Foundry Virtual Tabletop is committed to protecting your personal privacy while using our website <a href="https://foundryvtt.com" title="The Foundry Virtual Tabletop Website">https://foundryvtt.com</a> and the Foundry Virtual Tabletop application. This policy describes what data we collect and persist, and under what circumstances it is used. This document will be updated from time to time - the date of the most recent revision will be reflected at the top of the document.</p>

<h2 class="border">Collected Data</h2>

<blockquote class="question">What personal information does the website collect, and how is that information used?</blockquote>
<p>When you browse the website ("the website"), we record your IP address in order to detect and mitigate risks from potentially abusive browsing behavior.</p>
<p>If you register a user account on the website, your username, email address, chosen password, and other optional details are stored as part of your individual user data. This information is used to provide you with account services related to your Foundry Virtual Tabletop software license (if any).</p>
<p>When purchasing the Foundry Virtual Tabletop software your email address is provided to Stripe who provides payment processing services for Foundry Gaming LLC. You may review the <a href="https://stripe.com/gb/privacy" title="Stripe Privacy Policy" target="_blank">Stripe privacy policy</a> for details on their use of this data in order to provide secure payment processing services.</p>
<p>The website does not use your personal information as an input into any automated decision making system.</p>

<blockquote class="question">How and why does the website use cookies?</blockquote>
<p>We use cookies in order to store your browsing session which allows you to navigate the website without being prompted to log in on every page. This session cookie is important to the experience of interacting with the website and cannot be disabled.</p>

<blockquote class="question">What personal data does the application collect?</blockquote>
<p>The Foundry Virtual Tabletop software itself does not collect or store any personal information. The software stores your signed software license key - which is not personally identifiable - and transmits this key to the website when needed to perform license verification checks. When those checks are made, we record and store the IP address from which you updated the Foundry Virtual Tabletop software.</p>

<blockquote class="question">How is the data you collect kept secure?</blockquote>
<p>We do NOT collect or store any data related to billing or payments. Your name, billing address, and credit card details are all financial data processed by Stripe which is a highly reputable e-commerce platform which uses industry standard security practices to encrypt your payment and billing data. Additionally, we do not collect any data about how or when you use the Foundry Virtual Tabletop software.</p>
<p>The data we store is kept securely in a secured database using modern web security and encryption standards. We do not sell, trade, or transfer any of your personally identifiable information to outside parties aside from what is explicitly mentioned in this document.</p>

<blockquote class="question">How can I change my personal information or request that it be deleted?</blockquote>
<p>You have the rights to view, modify, or delete your personal data at any time. You may view your personal data on your website user profile page, where you may also modify that data. To request the deletion of personal data, or the deletion of your website account you may send an email to <a href="mailto:admin@foundryvtt.com?subject=Personal Data Deletion Request">admin@foundryvtt.com</a> from the email address associated with your website account.</p>

<h2 class="border">Contacting Us</h2>
<p>If you have any questions about this privacy policy you may contact us using the information below:</p>
<p>Foundry Gaming LLC<br/>906 W 2nd Ave, STE 100<br/>Spokane, WA 99201-4540<br/>United States</p>
<p><a href="mailto:admin@foundryvtt.com?subject=Personal Data Deletion Request">admin@foundryvtt.com</a></p>
<p>Foundry Gaming LLC © 2021. Privacy Policy</p>